# lambda

## libraries

In [3]:
import pandas as pd
from datetime import datetime

## read_data

In [17]:
df = pd.read_csv('nobi ordb.csv')

In [15]:
last_trade = pd.read_csv('nobi lastt.csv')

## cleaning data

In [ ]:
df = df[df['symbol'] == 'SHIBIRT']
df.drop(columns=['id', 'last_update', 'last_trade_price'], inplace=True)
df['spread'] = df['ask_price'] - df['bid_price']
df['request_time'] = pd.to_datetime(df['request_time'])
df['response_time'] = pd.to_datetime(df['response_time'])
df['time'] = (df['response_time'] - df['request_time']) / 2
df['time'] = df['time'] + df['request_time']
df['time'] = pd.to_datetime(df['time'])
df.drop(columns=['request_time', 'response_time'], inplace=True)
df['spread_shift'] = df['spread'].shift(-1)
df['is_shift'] = df['spread'] - df['spread_shift']
df_durataion = df[df['is_shift'] > 0]
df_durataion['time_shift'] = df_durataion['time'].shift(-1)
df_durataion['duration'] = df_durataion['time_shift'] - df_durataion['time']
df_durataion = df_durataion.reset_index()
del df_durataion['index']
df_durataion

In [ ]:
last_trade = last_trade[last_trade['symbol'] == 'SHIBIRT']
last_trade.drop(columns=['id'], inplace=True)
last_trade = last_trade.reset_index()
del last_trade['index']
last_trade['time'] = pd.to_datetime(last_trade['time'] * 1000000)
last_trade['time'] = pd.to_datetime(last_trade['time'], 'ms')
last_trade

## time editing

In [4]:
df_book = pd.read_csv('obi.csv')
df_book['time_shift'] = pd.to_datetime(df_book['time_shift'])
df_book['time'] =pd.to_datetime(df_book['time'])
df_book['time'] = df_book['time'].dt.tz_localize(None)
df_book['time_shift'] = df_book['time_shift'].dt.tz_localize(None)
df_book.head()

,Unnamed: 0,symbol,bid_price,ask_price,bid_volume,ask_volume,spread,time,spread_shift,is_shift,time_shift,duration
0,16,SHIBIRT,4473,4480,720.0,37969.0,7,2022-08-18 15:46:29.664216000,3.0,4.0,2022-08-18 15:47:11.499975500,0 days 00:00:41.835759500
1,44,SHIBIRT,4473,4477,5663.0,107841.0,4,2022-08-18 15:47:11.499975500,1.0,3.0,2022-08-18 15:52:06.628437500,0 days 00:04:55.128462
2,118,SHIBIRT,4443,4460,11279.0,24879.0,17,2022-08-18 15:52:06.628437500,14.0,3.0,2022-08-18 15:52:13.977714500,0 days 00:00:07.349277
3,125,SHIBIRT,4446,4460,122501.0,44879.0,14,2022-08-18 15:52:13.977714500,5.0,9.0,2022-08-18 15:52:32.434302000,0 days 00:00:18.456587500
4,139,SHIBIRT,4442,4460,18819.0,199194.0,18,2022-08-18 15:52:32.434302000,8.0,10.0,2022-08-18 15:54:40.348053500,0 days 00:02:07.913751500

In [5]:
time_delta = pd.to_timedelta(4.5,'hour')
df_last = pd.read_csv('last1.csv')
df_last['time'] = df_last['time'].apply(pd.Timestamp)
df_last['time'] += time_delta
df_last.head()

,Unnamed: 0,symbol,price,volume,time,type,request_time,response_time
0,0,SHIBIRT,4480,1.0,2022-08-18 15:46:18.091,buy,2022-08-18 15:46:23.215135+04:30,2022-08-18 15:46:27.442528+04:30
1,1,SHIBIRT,4477,780.0,2022-08-18 15:46:09.416,buy,2022-08-18 15:46:23.215135+04:30,2022-08-18 15:46:27.442528+04:30
2,2,SHIBIRT,4477,9.0,2022-08-18 15:45:37.974,buy,2022-08-18 15:46:23.215135+04:30,2022-08-18 15:46:27.442528+04:30
3,3,SHIBIRT,4477,2000.0,2022-08-18 15:45:33.331,buy,2022-08-18 15:46:23.215135+04:30,2022-08-18 15:46:27.442528+04:30
4,4,SHIBIRT,4477,1558.0,2022-08-18 15:45:31.707,buy,2022-08-18 15:46:23.215135+04:30,2022-08-18 15:46:27.442528+04:30

In [1]:
a =5

## market volume calc

In [ ]:
def N_calc(row):
    start = row['time']
    end = row['time_shift']
    agregate_df = last_trade[last_trade['time'] >= start and last_trade['time'] < end]
    vol = regate_df['volume'].sum()
    return vol

In [ ]:
#apply

## N data frame

## landa calc

# test